/*
 *  Header stylings
 */
.header{
    background-color: $colorBrand;
    padding: 20px 0;
    .page-logo{
        height: 30px;
        width: 30px;
        display: block;
    }
    nav{
        text-align: right;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                margin: 0 10px;
                a{
                    font-family: $fontRoboto;
                    font-weight: 400;
                    color: $colorWhite;
                    font-size: 16px;
                }
            }
        }
    }
}