/*
 *  Header stylings
 */
.header{
    background-color: $colorBrand;
    padding: 20px 0;
    nav{
        text-align: right;
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                a{
                    font-family: $fontRoboto;
                    font-weight: 400;
                    color: $colorWhite;
                }
            }
        }
    }
}