.give-form-wrap{
    .give-form{
        .give-total-wrap{
            .give-text-input{
                width: 90%;
                outline: 0;
                border-color: $colorBrand !important;
                color: lighten($colorBrand, 40%);
            }
            .give-currency-symbol{
                width: 10%;
                text-align: center;
                color: $colorWhite;
                background-color: $colorBrand;
                border-color: $colorBrand !important;
            }
        }
        .give-donation-levels-wrap{
            display: flex;
            @media(max-width: 767px){
                display: block;
            }
            li{
                flex: 1;
                float: none !important;
                margin: 0;
                button{
                    border: none;
                    background-color: $colorBrand;
                    border-bottom: 4px solid lighten($colorBrand, 40%);
                    transition: $transitionNormal;
                    color: $colorWhite;
                    width: 100%;
                    &:hover{
                        background-color: lighten($colorBrand, 40%);
                    }
                }
            }
        }
        .give-payment-mode-select{
            .give-payment-mode-label{

            }
            .give-payment-mode-wrap{
                ul{
                    li{
                        .give-gateway{

                        }
                        .give-gateway-option{

                        }
                    }
                }
            }
        }
        #give_purchase_form_wrap{
            .give-input{
                outline: 0;
                border-color: $colorBrand !important;
                color: lighten($colorBrand, 40%);
            }
        }
        .give-donation-submit{
            #give-final-total-wrap{
                .give-donation-total-label{
                    width: 30%;
                    @media(max-width: 767px){
                        width: 100%;
                    }
                    color: $colorWhite;
                    background-color: $colorBrand;
                    border-color: $colorBrand !important;
                }
                .give-final-total-amount{
                    width: 70%;
                    text-align: right;
                    @media(max-width: 767px){
                        width: 100%;
                        border-left: 1px solid;
                    }
                    border-color: $colorBrand !important;
                    color: lighten($colorBrand, 40%);
                }
            }
            #give-purchase-button{
                border: none;
                background-color: $colorBrand;
                border-bottom: 4px solid lighten($colorBrand, 40%);
                transition: $transitionNormal;
                color: $colorWhite;
                &:hover{
                    background-color: lighten($colorBrand, 40%);
                }
            }
        }
    }
}
#give-gateway-option-paypal {
    &:before{
        content: "\f1ed";
        font-family: "Font Awesome 5 Brands";
    }
}
#give-gateway-option-offline{
    &:before{
        content: "\f53c";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
    }
}
#give-gateway-option-manual{
    &:before{
        content: "\f0f1";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
    } 
}
.give-fl-wrap{
    width: 100%;
}
.give-fl-has-focus{
    label{
        color: $colorBrand !important;
    }
}

#give-email-access-form{
    #give-email{
        width: 100%;
        outline: 0;
        border-color: $colorBrand !important;
        color: lighten($colorBrand, 40%);
    }
    .give-submit{
        border: none;
        background-color: $colorBrand;
        border-bottom: 4px solid lighten($colorBrand, 40%);
        transition: $transitionNormal;
        color: $colorWhite;
        &:hover{
            background-color: lighten($colorBrand, 40%);
        }
    }
}