.link-boxes{
    margin-top: 20px;
    .link-box{
        height: 100px;
        @media(max-width: 992px){
            height: 70px;
        }
        @media(max-width:797px){
            border-bottom: 1px solid lighten($colorBrand, 40%);
        }
        width: 100%;
        background-color: $colorBrand;
        transition: 0.2s linear;
        &:hover{
            background-color: lighten($colorBrand, 40%);
        }
        a{
            height: 100%;
            text-decoration: none !important;
            span{
                color: $colorWhite;
            }
        }
    }
}