*{
    font-family: $fontRoboto;
    font-weight: 400;
    font-size: 18px;
}
.page-content{
    a{
        color: $colorBrand;
        transition: $transitionNormal;
        &:hover{
            text-decoration: none;
            color: lighten($colorBrand, 40%);
        }
    }
}